* {
    font-family: Bookmand Old Style, Serif;
}
#lewa, #prawa {
    background-color: darkcyan;
    color: white;
    width: 50%;
    height: 100px;
    letter-spacing: 15px;
}
footer {
    background-color: darkcyan;
    color: white
}
header {
    display: flex;
}
#jeden, #dwa, #trzy {
    background-color: azure;
    width: 30%;
    margin: 1%;
    box-shadow: 4px 4px 8px dimgray;
}
main {
    display: flex;
}
#jeden img, #dwa img, #trzy img {
    width: 100%;
}
p, h2, h3 {
    margin: 15px;
}
a {
    color: white
}
h5 {
    background-color: Teal;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
h5:hover{
    background-color: lightseagreen;
}
blockquote {
    text-align: center;
    padding: 30px 0px 30px 0px;
    font-style: italic;
}
#krzysiek{
    display: block;
}
#joanna, #ewa{
    display: none;
}
